html{
    scroll-snap-type: y mandatory;
}

.app{
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
    /* overflow: hidden; */
}

.app__videos{
    position: relative;
    height: 100%;
    overflow: scroll;
    width: 100%;
    /* border-right: 1px solid black; */
    max-width: 500px;
    max-height: 100vh;
    /* border-radius: 20px; */
    scroll-snap-type: y mandatory;
} 

/* Hide the scrollbar for chrome , safari,Opera */
.app__videos::-webkit-scrollbar{
    display:none ;
}

/* HIde the scrollbar for IE,Edge,Firefox */
.app__videos{
    -ms-overflow-style: none; /*IE and Edge*/
    scrollbar-width: none; /*Firefox */
}